<h2 mat-dialog-title>Detalles del Producto</h2>
<div mat-dialog-content>
  <img *ngIf="data.image" [src]="data.image" alt="{{ data.nombre }}" width="100" height="100">
  <p><strong>Nombre:</strong> {{ data.nombre }}</p>
  <p><strong>Descripción:</strong> {{ data.descripcion }}</p>
  <p><strong>Precio:</strong> ${{ data.precio }}</p>
  <p><strong>Cantidad:</strong> {{ data.cantidad }}</p>
</div>
<div mat-dialog-actions align="end">
  <!-- Botón que ahora invoca el método closeDialog -->
  <button class="btn-danger"mat-button (click)="closeDialog()">Cerrar</button>
</div>
